.header {
  //background-color: #fff;
  min-height: 7px;
  border-bottom: 1px solid #683eb7;
  display: flow-root;
}

.dropdown {
  margin: 10px
}

label{
  justify-content: right;
}

.color-white {
  color: #fff!important;
}
