.hiw-title {
    padding-top: 20px;
    margin-right: auto;
    font-family: sans-serif!important;
    font-weight: 800;
        color:  #000066

  }

  .hiw-body {
    font-family: 'Montserrat',sans-serif!important;
   // font-weight: lighter;
    font-size: 22px;
    color:  #000066
  }
  