<div class="container" style="background-color: #f9fafa">
<div class="hiw-title h1">
   </div>
    <div class="hiw-title h3">
        What can you do on Referensee.com?
    </div>
     <div class="hiw-title h5">
        If you are a student, professor, scientist, or a scholar and you are interested in papers and their presentations, then you are at the right place :).
    </div>
     <div class="hiw-title h5">
    </div>
    <div >
        <p class="hiw-body">The process here is very simple: just make a presentation or ask for a presentation :).</p>
        <p class="hiw-body">It has probably happened to many of us that we have read a paper but we haven't understood all the points. A presentation can help a lot to clarify these unclear points.</p>
        <p class="hiw-body">That's the reason we have developed this platform. </p>
        <p class="hiw-body"> <b>If you have a presentation for a paper </b>, you can upload it here to help the other scholars understand your paper. </p>
        <p class="hiw-body"> <b> If you have read a paper and you haven't understood all the points </b>, you can request a presentation for this paper to get the things cleared.</p>
        <p class="hiw-body">In the meantime, it is NOT a must to be the author of the paper to be able to present it. You can even upload presentations for others' papers</p>
        
       
    </div>
    <div class="hiw-title h3">
        How to use Referensee.com?
    </div>
     <div class="hiw-title h2">
        
    </div>
    <div >
        <p class="hiw-body">If you would like to <b> ask for a presentation</b>, just log in to your account, click on "ask for a presentation" button and submit your request. </p>
        <p class="hiw-body">If you would like to <b> make a presentation</b> for a paper, log in to your account, click on your display name, go to your profile section and click on "make a presentation".</p>
        <p class="hiw-body">To make a presentation, you have two ways: 1) Upload a video file up to 50 MB. 2) Upload your video to YouTube and link it here. </p>
        <p class="hiw-body">We highly recommend you the second approach due to two reasons:</p>
                <p class="hiw-body">Firstly, because in the second approach, your video can be played directly by a simple click and no download is required.</p>
        
        <p class="hiw-body">Secondly, because this web site has no income at the moment and all the costs are paid by the web site owner. So, by uploading your videos on hosts other than this website's host, you have saved me much money and I will be thankful :). </p>
   <p>   </p>
    <div class="hiw-title h1">
   </div>
   <div class="hiw-title h1">
   </div>
   <div class="hiw-title h1">
   </div>
    </div>
</div>
