<div class="modal-dialog modal-lg mt-0 mb-0 p-3" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="privacy-policy-modalLabel">Privacy policy</h5>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <h4>
          Privacy Statement
        </h4>
        <label>General</label>

        <p>
          Your personal data are processed by us only in accordance with the provisions of German data privacy laws.
          The following provisions describe the type, scope and purpose of collecting, processing and utilizing
          personal data. This data privacy policy applies only to our web pages. If links on our pages route you to
          other pages, please inquire there about how your data are handled in such cases.
        </p>
        <label>
          Inventory data
        </label>
        <p>
          (1) Your personal data, insofar as these are necessary for this contractual relationship (inventory data)
          in terms of its establishment, organization of content and modifications, are used exclusively for
          fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed to
          the supplier of the goods.
        </p>
        <p>
          (2) Without your explicit consent or a legal basis, your personal data are not passed on to third parties
          outside the scope of fulfilling this contract. After completion of the contract, your data are blocked
          against further use. After expiry of deadlines as per tax-related and commercial regulations, these data
          are deleted unless you have expressly consented to their further use.
        </p>
      </div>
    </div>
  </div>
</div>
